.card-profit-loss {
  width: 250px;
  height: 300px;
  background-color: aliceblue;
  border-radius: 18px;
  border: 1px solid grey;
  padding: 20px 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
}
p {
  margin-bottom: 30px;
}
.cost-of-perunit,
.total-quantity,
.selling-price-of-perunit,
.sold-quantity {
  font-size: 16px;
  margin-bottom: 10px;
}
button {
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid black;
}
