.card-multiplication-table {
  width: 200px;
  height: 450px;
  background-color: rgb(233, 243, 233);
  text-align: center;
  padding: 20px 5px;
  box-sizing: border-box;
}
p {
  padding-top: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
button {
  margin-top: 30px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 12px;
  padding: 3px 8px;
}
